################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out
/.vs
enc_temp_folder
boost_1_72_0
boost_1_72_0.tar.bz2